<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<!-- 日志配置 -->
	<settings>
		<!-- 打印查询语句 LOG4J,STDOUT_LOGGING -->
		<setting name="logImpl" value="LOG4J" />
	</settings>
	
	<typeAliases>
		<package name="com.lee.qiniu.entity" />
	</typeAliases>

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.jdbc.Driver" />
				<property name="url" value="jdbc:mysql://39.108.141.63:3306/qiniu" />
				<property name="username" value="root" />
				<property name="password" value="THTSS1000c" />
				<property name="poolPingQuery" value="SELECT 1" />
				<property name="poolPingEnabled" value="true" />
			</dataSource>
		</environment>
	</environments>
		
	<mappers>

		<package name="com.lee.qiniu.dao" />

	</mappers>
</configuration>

