<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:util="http://www.springframework.org/schema/util" 
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.2.xsd
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context-4.3.xsd
    http://www.springframework.org/schema/mvc     
    http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
    http://www.springframework.org/schema/aop 
    http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
     http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">
    

    <util:properties id="jdbc" location="classpath*:/db.properties"/>
    
	<!--配置数据源	配置dbcp数据库连接池-->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
	   <property name="url" value="#{jdbc.url}"></property>
	   <property name="driverClassName" value="#{jdbc.driver}"></property>
	   <property name="username" value="#{jdbc.user}"></property>
	   <property name="password" value="#{jdbc.password}"></property>
	   <property name="maxActive" value="#{jdbc.maxActive}"></property>
	   <property name="maxWait" value="#{jdbc.maxWait}"></property>
	</bean>
    <!--配置mybatis的session工厂-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
         <property name="dataSource" ref="dataSource" />
        <property name="mapperLocations"
            value="classpath:com/lee/qiniu/mapper/*.xml" />
    </bean>
	
	<!-- 扫描指定包下所有的接口  来相互匹配sql数据-->    
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!-- 自动注入sqlSessionFactory -->
        
        <!-- 扫描dao层下面的@Repository 到spring容器-->
        <property name="basePackage" value="com.lee.qiniu.dao" />
        
    </bean>
</beans>